.h3{
  text-align: center;
}

.whole-container{
  max-width: 1024px;
  width: 100%;
  height: 100%
}

.game-title{
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  width: 50%;
  text-align: center;
}

.gameboard-container {
  display: block;
  background-color: rgba(128, 128, 128, 0.15);
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  height: 100%;
  width: 50%;
  margin: 50px 0 0 120px;
}

/*@media only screen and (min-width: 376px) {
  .gameboard-container {
    display: block;
    background-color: rgba(128, 128, 128, 0.15);
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    height: 100%;
    width: 50%;
    margin: 50px 0 0 120px;
  }
}*/

/* iPhone 6 portrait */
@media only screen and (max-width: 375px) {
  .gameboard-container{
    max-height: 482px;
    height: 100%;
    width: 95%;
    margin: 20px 0 0 252px;
  }
}

.gameboard{
  height: 98%;;
  width: 98%;
  margin: 4% 0 0 1.5%;
}

.square{
  display: inline-block;
  vertical-align: top;
  width: 31%;
  height: 31%;

}

.player1:hover{
  background-image: url(https://raw.githubusercontent.com/christkv/tic-tac-toe/master/public/img/cross.png);
  background-repeat: no-repeat;
  width: 110%;
  height: 110%;
}

.player2:hover{
  background-image: url(https://raw.githubusercontent.com/christkv/tic-tac-toe/master/public/img/circle.png);
  background-repeat: no-repeat;
  width: 110%;
  height: 110%;
}


.box-left{
  margin: 0 0 0 2%;
}

.box-center{
  margin: -4px;
}

.space{
  height: 80%;
  width: 80%;
  margin: 10% 0 0 10%;
  display: inline-block;
  /*border: 1px solid red;*/
  vertical-align: middle;
}

.scoreboard-container {
  display: block;
  max-width: 460px;
  height: 100%;
  width: 45%;
  margin: 50px 0 0 678px;
  position: absolute;
}

/*@media only screen and (min-width: 376px) {
  .scoreboard-container {
    display: block;
    max-width: 460px;
    height: 100%;
    width: 45%;
    margin: 50px 0 0 678px;
    position: absolute;
  }
}*/

/* iPhone 6 portrait */
@media only screen and (max-width: 375px) {
  .scoreboard-container{
    max-height: 350px;
    width: 370px;
    margin: 553px 0 0 94px;
  }
}

.name-score-container{
  height: 160px;
  width: 340px;
  border: 2px solid black;
  border-radius: 3%;
}

.score{
  font-size: 50px;
  display: block;
  margin: 10px 0 0 0;
}

.player1-name-score-container{
  display: inline-block;
  margin: 0% 0 0 10%;
}

.player1-score-container{
  display: inline-block;
  margin: 32px 0 0 82px;
}

.player2-name-score-container {
  display: inline-block;
  margin: 7% 0px 0 11%;
}

@media only screen and (max-width: 375px){
  .player2-name-score-container{
    display: block;
    max-height: 350px;
    margin: -218px 0 0 400px;
  }
}

/*@media only screen and (min-width: 376px) {
  .player2-name-score-container {
    display: inline-block;
    margin: 7% 0px 0 11%;
  }
}*/

/* iPhone 6 portrait */

.player2-score-container{
  display: inline-block;
  margin: -10px 0 0 100px;
  width: 60px;
}

.icon-box{
  display: inline-block;
  vertical-align: middle;
}

.btn{
  width: 100px;
  height: 30px;
  border: 1px solid black;
  border-radius: 3%;
}

.btn-text{
  margin: -15px 0 0 4px;
}

.restart{
  display: block;
  position: absolute;
  width: 67px;
  margin: -47% 0 0 22%;
}

/* iPhone 6 portrait */
@media only screen and (max-width: 375px) {
  .restart{
    display: block;
    position: absolute;
    width: 67px;
    margin: 9% 0 0 117%;
  }
}

.reset-score{
  margin: 11% 0 0 60%;
}

.centered{
  vertical-align: middle;
  }

#game-over-check{
  display: hidden;
}

#pop-up-background-container {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.3);
}

#pop-up-text-container {
  position: relative;
  bottom: -100px;
  background-color: rgba(255, 255, 255, 1);
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  border-radius: 4%;
  width: 500px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 2s ease-in-out;
}

#pop-up-image {
  position: relative;
  top: 15%;
  left: 13%;
  margin: auto;
  display: block;
  height: 165px;
}

#pop-up-message {
  position: relative;
  top: -29%;
  left: 45%;
  font-size: 80px;
  display: block;
}

#pop-up-close{
  position: relative;
  top: -15%;
  margin: auto;
  display: block;
  width: 120px;
  height: 35px;
  border: 1px solid black;
  border-radius: 5%;
  text-align: center;
  font-size: 24px;
}


  #top-left, #top-center, #top-right{
    border-bottom: 4px solid #4b4949;
  }

  #top-left, #center-left, #bottom-left{
    border-right: 4px solid #4b4949;
  }

  #bottom-left, #bottom-center, #bottom-right{
    border-top: 4px solid #4b4949;
  }

  #top-right, #center-right, #bottom-right{
    border-left: 4px solid #4b4949;
  }
